<meta charset="UTF-8">
<title>How old is minecraft?</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	body    { 
    padding-top:50px; 
    background-color: #121212;
    color: white;
    }
</style>