<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-12">    
        <div class="jumbotron">
            <h1>Here's to 1.14.4!</h1>
            <p>1.14.3 is <strong><%= years %></strong> years, <strong><%= months %></strong> month(s) and, <strong><%= days %></strong> day(s) old today.</p>
        </div>
    </div>


</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>