<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>


</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" style="background-color:#1D1D1D;">
        <h1>Coming soon.</h1>
        <p>Finding and listing all those release dates will take time. <br> Feel free to PR them to our gitlab via ./data/releases.json</p>

    </div>

    <p>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>