<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>


</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" style="background-color:#1D1D1D;">
        <h1>It's time to update.</h1>
        <hr>
        <p>This website exists to remind 1.8 server owners that the past is in the past.</p>

    </div>

    <p>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
