<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>


</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" style="background-color:#1D1D1D;">
        <h1>Just fucking update.</h1>
        <p>We can't realistically support all 14 versions. Stop Asking.</p>

    </div>

    <p>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>