<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<main>
    <div class="jumbotron" style="background-color:#1D1D1D;">
        <h1>We're in the process of updating ourselves.</h1>
        <p>Looks like we're doing something behind the scenes, bare with us for the moment.</p>
    </div>
    <p>

</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>
